ac<div id="page-container">
  <div id="content-container">
    <div *ngIf="!loaded" class="loading-container">
      <div class="loading-content">
      </div>
    </div>
    <div *ngIf="loaded" class="result-container">
      <acpc-icon class="result-icon" [icon]="successful ? 'success' : 'failure'" [size]="'10x'"></acpc-icon>
      <h2 class="payment-status-title">{{this.successful ? 'Payment Successful!' : 'Payment Failed!'}}</h2>
<!--      <div class="info-container" *ngIf="uiDataKeys.length > 0">-->
<!--        <div class="info" *ngFor="let keyName of this.uiDataKeys; let i = index">-->
<!--          <h4>{{keyName}}</h4>-->
<!--          <p>{{this.uiDataValues[i]}}</p>-->
<!--        </div>-->
<!--      </div>-->
      <div class="back-to-home-container">
        <a (click)="navigateToHome()" [class]="{'back-to-home': true, 'success': this.successful}">
          <p>
            Back to Home!
          </p>
        </a>
      </div>
    </div>
  </div>
</div>
