<div id="page-container">
  <div id="page-content">
    <div id="contact-info-container">
      <div id="contact-text">
        <h1>Contact us</h1>
        <p>Our team would love to hear from you.</p>
      </div>
      <div id="contacts-container">
        <div class="contacts">
          <acpc-icon icon="telegram" size="3x"></acpc-icon>
          <a [href]="contactData?.telegram">{{contactData.telegram | socialMediaUrlToUsername: 'telegram'}}</a>
        </div>
        <div class="contacts">
          <acpc-icon icon="call" size="3x"></acpc-icon>
          <span>{{contactData?.phoneNumber}}</span>
        </div>
        <div class="contacts">
          <acpc-icon icon="email" size="3x"></acpc-icon>
          <a [href]="'mailto:' + contactData?.email">{{contactData?.email}}</a>
        </div>
        <div class="contacts">
          <acpc-icon icon="instagram" size="3x"></acpc-icon>
          <a [href]="contactData?.instagram">{{contactData.instagram | socialMediaUrlToUsername: 'instagram'}}</a>
        </div>
      </div>
    </div>
    <acpc-map
      class="map-content"
      [zoom]="17"
      [latitude]="this.contactData?.universityCoordinate?.x"
      [contactData]="contactData"
      [longitude]="this.contactData?.universityCoordinate?.y">
    </acpc-map>
  </div>
</div>
