@import "assets/styles/variables";

html, body { height: 100%; }
body { margin: 0; font-family: Ubuntu, "Helvetica Neue", sans-serif; }

.logo-1 {
  height: 16px;
  width: 16px;
}

.logo-2 {
  height: 18px;
  width: 18px;
}

.logo-3 {
  height: 20px;
  width: 20px;
}

.logo-4 {
  height: 30px;
  width: 30px;
}

.logo-5 {
  height: 50px;
  width: 50px;
}

.round-border-1 {
  border-radius: 15px;
}

.round-border-2 {
  border-radius: 20px;
}

.mat-mdc-form-field {
  font-size: 12px;
  margin-top: 5px;
}

.mat-mdc-button,
.mat-mdc-raised-button {
  letter-spacing: normal;
}

.mdc-floating-label {
  letter-spacing: 1.5px !important;
  font: inherit !important;
}

.mat-mdc-form-field-infix {
  min-height: 50px !important;
  letter-spacing: normal !important;
}

.mat-stepper-horizontal {
  display: flex;
  flex-direction: column;
}

.mat-mdc-form-field-error-wrapper {
  padding-left: 10px !important;
  letter-spacing: 1.5px !important;
  font: inherit !important;
  font-size: 90% !important;
}

.mat-form-field-icon-suffix {
  left: 5px !important;
}

.cdk-overlay-pane {
  justify-content: center !important;
}

.mdc-snackbar {
  min-width: 344px !important;
  max-width: 33vw !important;
}

.mdc-snackbar__surface {
  padding: 0 !important;
  border-radius: 50% !important;
}

.mat-mdc-snack-bar-label {
  padding: 0 !important;
}

.mat-mdc-form-field {
  width: 100% !important;
  font-size: 14px !important;
  letter-spacing: 1.5px !important;
  line-height: 1.125 !important;
  font-family: inherit !important;
}

.mat-mdc-text-field-wrapper {
  padding: 0 5px 0 10px !important;
}

.mat-horizontal-content-container, .mat-horizontal-stepper-content {
  height: 100%;
}

.mat-mdc-paginator {
  width: 100%;
}

.mat-bottom-sheet-container {
  border-radius: 20px 20px 0 0;
  overflow: hidden !important;
  position: relative;
  &::after {
    content: "";
    top: 5px;
    left: 50%;
    width: 50%;
    height: 5px;
    position: absolute;
    @extend .round-border-1;
    background-color: #5A5959;
    transform: translateX(-50%);
  }
}

.cdk-overlay-dark-backdrop {
  backdrop-filter: blur(3px);
}

.mat-mdc-dialog-surface {
  padding: 15px !important;
}

mat-stepper {
  @extend .round-border-1;
}

acpc-header {
  z-index: 2;
}

acpc-home-page, acpc-contact-us-page, acpc-about-page,
acpc-timeline-page, acpc-contest-details-page, acpc-contests-archive-page,
acpc-registration-status-page, acpc-registration-success-page, acpc-team-registration-page,
acpc-coming-soon-page, acpc-admin-login-page, acpc-admin-page, acpc-team-details-page,
acpc-about-devs-page {
  flex-grow: 1;
  width: 100%;
}

body {
  color: var(--text-color);
  background-color: var(--background-color);
}

acpc-registration-status-page .data-container .data-title {
  color: var(--disabled-text-color) !important;
}

acpc-team-registration-page #team-form-container,
acpc-contestant-form #form-container {
  border-color: var(--accent-text-color) !important;
}

acpc-team-registration-page #form-header-title {
  background-color: var(--background-light-10);
  color: var(--accent-text-color);
}

acpc-contestant-form .section-title,
acpc-identification-documents-form .image-title {
  color: var(--accent-text-color);
}

acpc-home-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

//The following consists of material pagination styles
.mat-mdc-paginator-page-size-label {
  min-width: 16ch;
}

.mat-mdc-paginator-page-size {
  align-items: center;
}

.mat-mdc-paginator-page-size .mat-mdc-text-field-wrapper {
  width: 70px;
  height: 40px;
}
