<div id="page-container">
  <h1 id="page-title">{{archive?.date?.getFullYear()}} Contest</h1>
  <div id="file-container">
    <a [href]="archive?.questions?.link" class="attached-file">
      <div>
        <img src="./assets/icons/questions.png" alt="questions">
        <span>questions</span>
      </div>
    </a>

    <a [href]="archive?.rankings?.link" class="attached-file">
      <div>
        <img src="./assets/icons/ranking.png" alt="rankings">
        <span>rankings</span>
      </div>
    </a>
  </div>

  <div class="slider-container">
    <acpc-image-slider-container *ngIf="showSlider()" class="slider" [images]="images" />
    <h3 *ngIf="!showSlider()">Nothing Found!</h3>
  </div>
</div>
