<form id="form-container" [formGroup]="group"
     class="{{isDesktop ? 'desktop-form' : 'mobile-form'}}">
  <span id="form-header-title">
    <img src="./assets/icons/contestant.png" alt="contestant">
    <span>Contestant #{{contestantCounter}}</span>
  </span>
  <div id="personal-info-container" class="form-section">
    <span class="section-title">Personal Information</span>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="firstname" required>
      <mat-label>Firstname</mat-label>
      <mat-error *ngIf="isFormControlValid('firstname')">
        {{group.controls['firstname'].errors | generateErrorMessage}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="lastname" required>
      <mat-label>Lastname</mat-label>
      <mat-error *ngIf="isFormControlValid('lastname')">
        {{group.controls['lastname'].errors | generateErrorMessage}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select required formControlName="gender">
        <mat-option *ngFor="let gender of genders" [value]="gender.toString()">
          {{gender}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFormControlValid('gender')">
        {{group.controls['gender'].errors | generateErrorMessage}}
      </mat-error>
    </mat-form-field>
  </div>
  <div id="contact-info-container" class="form-section">
    <span class="section-title">Contact Information</span>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="phoneNumber" required>
      <mat-label>Phone Number</mat-label>
      <mat-error *ngIf="isFormControlValid('phoneNumber')">
        {{group.controls['phoneNumber'].errors | generateErrorMessage: 'PHONE'}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="email" formControlName="email" required>
      <mat-label>Email</mat-label>
      <mat-error *ngIf="isFormControlValid('email')">
        {{group.controls['email'].errors | generateErrorMessage}}
      </mat-error>
    </mat-form-field>
  </div>
  <div id="academic-info-container" class="form-section">
    <span class="section-title">Academic Information</span>
    <mat-form-field appearance="outline">
      <mat-label>Education Level</mat-label>
      <mat-select formControlName="education" required>
        <mat-option *ngFor="let eduLevel of eduLevels" [value]="eduLevel.toString()">
          {{eduLevel}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFormControlValid('education')">
        {{group.controls['education'].errors | generateErrorMessage}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="studentId" required>
      <mat-label>Student Number</mat-label>
      <mat-error *ngIf="isFormControlValid('studentId')">
        {{group.controls['studentId'].errors | generateErrorMessage}}
      </mat-error>
    </mat-form-field>
  </div>
  <div id="tshirt-info-container" class="form-section">
    <span class="section-title">T-shirt Information</span>
    <mat-form-field appearance="outline">
      <mat-label>T-shirt size</mat-label>
      <mat-select formControlName="shirtSize" required>
        <mat-option *ngFor="let shirtSize of tShirts" [value]="shirtSize.toString()">
          {{shirtSize}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFormControlValid('shirtSize')">
        {{group.controls['shirtSize'].errors | generateErrorMessage}}
      </mat-error>
    </mat-form-field>
    <button type="button" color="accent" mat-flat-button (click)="openGuide()">shirt-size guide</button>
  </div>
</form>

<ng-template #guideTemplate>
  <img [src]="shirtSizeImageName" alt="shirt size guide" style="max-height: 100%; max-width: 100%;">
</ng-template>
