<form id="form-container" [formGroup]="group"
     class="{{isDesktop ? 'desktop-form' : 'mobile-form'}}">
  <span id="form-header-title">
    <img src="./assets/icons/contestant.png" alt="contestant">
    <span>Contestant #{{contestantCounter}}</span>
  </span>
  <div id="personal-info-container" class="form-section">
    <span>Personal Information</span>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="firstname" required>
      <mat-label>Firstname</mat-label>
      <mat-error *ngIf="isFormControlValid('firstname')">
        {{getErrorMessage('firstname')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="lastname" required>
      <mat-label>Lastname</mat-label>
      <mat-error *ngIf="isFormControlValid('lastname')">
        {{getErrorMessage('lastname')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Gender</mat-label>
      <mat-select required formControlName="gender">
        <mat-option *ngFor="let gender of genders" [value]="gender.toString()">
          {{gender}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFormControlValid('gender')">
        {{getErrorMessage('gender')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div id="contact-info-container" class="form-section">
    <span>Contact Information</span>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="phoneNumber" required>
      <mat-label>Phone Number</mat-label>
      <mat-error *ngIf="isFormControlValid('phoneNumber')">
        {{getErrorMessage('phoneNumber')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="email" formControlName="email" required>
      <mat-label>Email</mat-label>
      <mat-error *ngIf="isFormControlValid('email')">
        {{getErrorMessage('email')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div id="academic-info-container" class="form-section">
    <span>Academic Information</span>
    <mat-form-field appearance="outline">
      <mat-label>Education Level</mat-label>
      <mat-select formControlName="education" required>
        <mat-option *ngFor="let eduLevel of eduLevels" [value]="eduLevel.toString()">
          {{eduLevel}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFormControlValid('education')">
        {{getErrorMessage('education')}}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <input matInput type="text" formControlName="studentId" required>
      <mat-label>Student Number</mat-label>
      <mat-error *ngIf="isFormControlValid('studentId')">
        {{getErrorMessage('studentId')}}
      </mat-error>
    </mat-form-field>
  </div>
  <div id="tshirt-info-container" class="form-section">
    <span>T-shirt Information</span>
    <mat-form-field appearance="outline">
      <mat-label>T-shirt size</mat-label>
      <mat-select formControlName="shirtSize" required>
        <mat-option *ngFor="let shirtSize of tShirts" [value]="shirtSize.toString()">
          {{shirtSize}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="isFormControlValid('shirtSize')">
        {{getErrorMessage('shirtSize')}}
      </mat-error>
    </mat-form-field>
    <button type="button" color="accent" mat-flat-button (click)="openGuide()">shirt-size guide</button>
  </div>
</form>

<ng-template #guideTemplate>
  <img src="./assets/images/shirt-size.jpg" alt="shirt size guide" width="100%">
</ng-template>
