@import "src/styles";

#form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: start;
  gap: 10px;
  @extend .round-border-1;
  border: 2px #5A5959 solid;
  padding: 20px 0;
  box-sizing: border-box;
  flex-wrap: wrap;
  position: relative;
}

#form-header-title {
  display: flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  left: 10px;
  top: -20px;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  img {
    @extend .logo-3;
  }
  span {
    font-weight: bold;
    color: #5A5959;
    font-size: 20px;
  }
}

.form-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
  span {
    font-weight: bold;
    color: #5A5959;
    width: 100%;
    text-align: left;
  }
}

#tshirt-info-container {
  position: relative;
  justify-content: start;
  button {
    position: absolute;
    bottom: -59px;
    width: 198px;
    height: 46px;
  }
}

.desktop-form {
  max-width: 430px;
}

.mobile-form {
  flex-direction: column;
  align-items: center !important;
}

.column-directed-container {
  flex-direction: column-reverse;
}

.sticky {
  position: sticky;
}
