<div id="page-container">
  <div id="team-info-container">
    <div class="detail-row">
      <div class="team-details"><span class="detail-title">name: </span>
        <span>{{teamData?.teamName}}</span>
      </div>
      <div class="team-details"><span class="detail-title">institution: </span>
        <span>{{teamData?.institution}}</span>
      </div>
    </div>
    <div class="detail-row">
      <div class="team-details">
        <span class="detail-title">status: </span>
        <mat-form-field class="form-field-selector" appearance="outline">
          <mat-label>status</mat-label>
          <mat-select [formControl]="teamStatusControl" [(value)]="selectedStatus">
            <mat-option *ngFor="let status of teamStatusList" [value]="status.toString()">
              {{status | upperSnakeCaseToNormal}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <button type="button" color="primary" id="update-status-btn"
                [disabled]="isUpdateDisabled"
                mat-mini-fab (click)="updateTeamStatus()">
          <acpc-icon icon="refresh" [color]="isUpdateDisabled ? 'primary' : 'foreground'" [size]="'2x'"></acpc-icon>
        </button>
      </div>
    </div>
  </div>
  <div id="contestants-info-container">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let contestant of teamData?.contestants">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{contestant.firstname + ' ' + contestant.lastname}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="team-details"><span class="detail-title">gender: </span>
          <span>{{contestant.gender | upperSnakeCaseToNormal}}</span>
        </div>
        <div class="team-details"><span class="detail-title">phone number: </span>
          <span>{{contestant.phoneNumber}}</span>
        </div>
        <div class="team-details"><span class="detail-title">email: </span>
          <span>{{contestant.email}}</span>
        </div>
        <div class="team-details"><span class="detail-title">graduation level: </span>
          <span>{{contestant.graduationLevel.value}}</span>
        </div>
        <div class="team-details"><span class="detail-title">shirt size: </span>
          <span>{{contestant.shirtSize.size}}</span>
        </div>
        <div class="team-details"><span class="detail-title">photos: </span>
          <span class="card-text" (click)="selectPhoto(contestant.nationalIdPicture.link)">
            national id card
          </span>,
          <span class="card-text" (click)="selectPhoto(contestant.studentCardPicture.link)">
            student card
          </span>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
<!--TODO: make responsive cards to show teams in mobile view-->
<ng-template #cardPhoto>
  <img [src]="selectedCardPhotoAddress" alt="card" style="height: 70vh; width: 100%">
</ng-template>
