@import "src/styles";

#header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  box-sizing: border-box;
  align-items: center;
}

#logo {
  cursor: pointer;
  img {
    width: 60px;
  }
}

#routes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  box-sizing: border-box;
}

#header-options-container {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  gap: 30px;
}

#menu-button-container {
  display: flex;
  align-items: center;
}

#register-button {
  color: #4C82C4;
  border: 2px solid #4C82C4;
  display: flex;
  align-items: center;
  justify-content: center;
  @extend .round-border-1;
}

.logo-box {
  position: relative;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: solid 2px;
  cursor: pointer;
}

.dark-text {
  color: black;
}

.dark-image {
  border-color: #000000;
  img {
    filter: brightness(0) saturate(100%)
    invert(0%) sepia(89%) saturate(7500%)
    hue-rotate(202deg) brightness(104%) contrast(112%);
  }
}

.light-text {
  color: white;
}

.light-image {
  border-color: #ffffff;
  img {
    filter: brightness(0) saturate(100%)
    invert(100%) sepia(100%) saturate(1%)
    hue-rotate(176deg) brightness(104%) contrast(102%);
  }
}

#option-menu {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  transition: height .5s ease-in-out;
  background-color: white;
  overflow: hidden;
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.opened-option-menu {
  height: 100vh;
}

.closed-option-menu {
  height: 0;
}

#menu-header-container {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px;
}

#options-container {
  flex-grow: 1;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 45px;
}

.options {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: fit-content;
  span {
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
  }
}

.options:after {
  content: "";
  height: 3px;
  position: absolute;
  bottom: -5px;
  width: 0;
  background-color: black;
  transition: all .3s ease-in-out;
}

.options:hover:after {
  width: 100%;
}

.desktop-options {
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}

.active {
  span {
    color: #B42E1C;
  }
  img {
    filter: brightness(0) saturate(100%) invert(22%)
    sepia(26%) saturate(6338%) hue-rotate(350deg)
    brightness(95%) contrast(93%);
  }
}

.active:after {
  background-color: #B42E1C;
}

