#header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  box-sizing: border-box;
}

#logo {
  img {
    width: 60px;
  }
}

#routes-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 260px;
  box-sizing: border-box;
}

#contact-us-container {
  display: flex;
  align-items: center;
}

#logo-box {
  position: relative;
  border-radius: 50%;
  background-color: #FCC61C;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  img {
    width: 25px;
  }
}

#text-box {
  position: relative;
  color: white;
  padding: 6px;
  white-space: nowrap;
  width: 90px;
  border-radius: 15px 0 0 15px;
  background-color: #4C82C4;
  right: -15px;
}
