.image-slider-container {
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  user-drag: none;
  -ms-user-select: none;
  user-select: none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }

  .image-container {
    transition: translate 400ms;
    display: flex;
    width: 100%;
    height: 100%;

    .slider-image-container {
      min-width: var(--contest-archive-slider-width);
      max-width: var(--contest-archive-slider-width);
      min-height: var(--contest-archive-slider-height);
      max-height: var(--contest-archive-slider-height);
      background-color: var(--background-color);
      display: flex;
      justify-content: center;

      .slider-image {
        display: none;
        align-self: stretch;
        max-width: 100%;
        object-fit: contain;

        &.loaded {
          display: block;
        }
      }
    }
  }

  .nav-button-container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;

    .nav-button {
      all: unset;
      font-size: 3rem;
      background-color: rgba(119, 119, 119, 0.53);
      color: #e3e3e3;
      transition: background-color 300ms;
      cursor: pointer;
      border-radius: 50%;

      &:active {
        background-color: #0003;
      }
    }
  }

  .shortcut-button-positioner {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .shortcut-button-container {
      max-width: clamp(0px, 22vw, 200px);
      height: clamp(0px, 6vw, 30px);
      overflow-x: auto;
      display: flex;
      align-items: center;
      background-color: var(--background-light-10);
      border-radius: clamp(0px, 0.5vw, 10px);
      padding: 0.15rem 0.1rem;

      -ms-overflow-style: none;
      scrollbar-width: none;
      scroll-behavior: smooth;

      .shortcut-button {
        --scbtn-transition-time: 200ms;
        width: clamp(5px, 4vw, 20px);
        height: clamp(5px, 4vw, 20px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid black;
        background-color: white;
        cursor: pointer;
        color: black;
        transition: width var(--scbtn-transition-time), height var(--scbtn-transition-time);
        flex-shrink: 0;

        .text {
          transition: font-size var(--scbtn-transition-time);
          font-size: clamp(0px, 3vw, 14px);
        }

        &.selected {
          width: clamp(7.5px, 6vw, 30px);
          height: clamp(7.5px, 6vw, 30px);

          .text {
            transition: font-size var(--scbtn-transition-time);
            font-size: clamp(0px, 4.5vw, 20px);
          }
        }
      }
    }

    .shortcut-button-container::-webkit-scrollbar {
      display: none;
    }
  }

  .forward-button-container {
    right: 0;

    .forward-button {
    }
  }

  .backwards-button-container {
    left: 0;

    .backwards-button {
    }
  }
}
