@import "src/styles";

img {
  @extend .logo-5;
}

#page-container, #summary-card, #header-text, #card-content {
  display: flex;
  flex-direction: column;
}

#header-title {
  font-size: 20px;
  padding: 5px;
  box-sizing: border-box;
}

#prompt-text {
  padding: 5px;
}

#card-content {
  display: flex;
  padding: 5px;
  background-color: #b1f1e4;
}

#page-container {
  height: 100%;
}

#card-header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
  padding: 5px;
}

#page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#summary-card {
  position: relative;
  box-shadow: 0 2px 4px -1px #0003, 0 4px 5px #00000024, 0 1px 10px #0000001f;
  overflow: hidden;
  @extend .round-border-1;
}

.data-container {
  @extend .round-border-1;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  .data-title {
    color: #5D5E5F;
    font-weight: bold;
  }

  .data-value {
    color: #5A5959;
  }
}

#support-box {
  a:link, a:visited, a:hover, a:active {
    color: #013779;
    font-size: 18px;
  }
  display: flex;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
}
