<div id="header-container">
  <div id="logo" (click)="navigateToHome()">
    <img src="../../../../assets/images/acpc-logo.png" alt="home-page">
  </div>
  <div id="header-options-container" *ngIf="isDesktop">
    <span *ngFor="let option of menuOptions" (click)="navigateToPage(option.toString())"
          class="desktop-options {{menuColor}}">
      {{option}}
    </span>
  </div>
  <div id="menu-button-container" *ngIf="!isDesktop">
    <div id="menu-hamburger" (click)="openMenu()" [ngClass]="{'light-hamburger-filter': isHomePage()}"
         class="logo-box {{menuColor}}">
      <acpc-icon icon="hamburger" [color]="menuColor == 'dark-text' ? 'foreground' : 'background'" ></acpc-icon>
    </div>
  </div>
  <button type="button" mat-button (click)="navigateToRegister()"
          id="register-button" *ngIf="isDesktop">
    Register
  </button>
</div>

<!--this bottom sheet is used to show menu options in mobile view-->
<ng-template #bottomSheet>
  <mat-nav-list>
    <mat-list-item (click)="bottomSheetRef.dismiss()" *ngFor="let option of menuOptions"
                   id="{{formatName(option)}}" [routerLink]="[option | nameToRouterLink]"
                   class="options">
      <acpc-icon color="foreground" [icon]="menuOptionIconMap[option]"></acpc-icon>
      <span>{{option}}</span>
    </mat-list-item>
  </mat-nav-list>
</ng-template>
