@import "src/styles";

:host {

  .mat-mdc-form-field {
    width: initial !important;
    height: 66.25px !important;
    margin-top: 2px !important;
  }

  .mat-mdc-floating-label.mdc-floating-label {
    font: inherit !important;
    font-weight: 400 !important;
  }

  .mat-mdc-floating-label:not(.mdc-floating-label--float-above) {
    top: 22px !important;
    font-size: 12px !important;
  }

  .mat-mdc-form-field-error {
    font-weight: bold;
    font-size: 80% !important;
    line-height: 1.125 !important;
  }

  .mat-mdc-form-field-infix {
    font-size: 14px !important;
    font-weight: 300 !important;
    padding: 1rem 0 0.8rem 0 !important;
  }

  .mdc-notched-outline__leading {
    max-width: 6px !important;
  }

  .mat-form-field-flex {
    padding-left: 0 !important;
  }

  .mat-mdc-text-field-wrapper.mat-mdc-text-field-wrapper {
    height: 40px !important;
  }
  .mat-horizontal-content-container {
    padding: 0 !important;
  }

  .mat-stepper-horizontal {
    width: 50% !important;
  }
}

a {
  text-decoration: underline;
  color: #FCC61C;
  font-style: italic;
}

#page-container {
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

#content-container {
  flex: 1;
  display: flex;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
  padding: 10px;
  background-color: var(--background-color);
}

#form-header-title {
  display: flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  left: 10px;
  top: -20px;
  padding: 5px;
  box-sizing: border-box;

  img {
    @extend .logo-3;
  }

  span {
    font-weight: bold;
    font-size: 20px;
  }
}

.all-forms {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 11px 0;
}

#team-form-container {
  @extend .round-border-1;
  position: relative;
  border: 2px #5A5959 solid;
  margin-bottom: 25px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 430px;
}

#team-form-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

#banner-container {
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

#banner {
  @extend .round-border-1;
  background-color: #393939;
  padding: 15px;
  box-sizing: border-box;
  color: $light-accent-text;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 430px;
}

.contestants-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 100%;
  align-items: center;
}

.sticky {
  justify-content: center;
  position: sticky;
  height: 86vh;
  top: 10px;
}

.column-direction-container {
  flex-direction: column-reverse !important;

  #banner-container {
    padding: 0;
    width: 100%;
  }

  #all-forms, #all-forms-container,
  #contestants-container, acpc-contestant-form {
    width: 100%;
  }

}

.error-captcha {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}

.captcha-container {
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.mdc-button {
  letter-spacing: normal;
}

.step-buttons-container {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  button {
    width: 90px;
    height: 40px;
    font-size: 18px;
  }
}

#submit-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
