@import "src/styles";

::ng-deep {

  .mat-horizontal-content-container {
    padding: 0 !important;
  }

  .mat-stepper-horizontal {
    width: 50%;
  }
}

a {
  text-decoration: underline;
  color: #FCC61C;
  font-style: italic;
}

#page-container {
  height: 100vh;
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: column;
}

#content-container {
  flex: 1;
  display: flex;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  position: relative;
}

#form-header-title {
  display: flex;
  align-items: center;
  gap: 2px;
  position: absolute;
  left: 10px;
  top: -20px;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
  img {
    @extend .logo-3;
  }
  span {
    font-weight: bold;
    color: #5A5959;
    font-size: 20px;
  }
}

.all-forms {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 11px 0;
}

#team-form-container {
  @extend .round-border-1;
  position: relative;
  border: 2px #5A5959 solid;
  margin-bottom: 25px;
  padding: 10px;
  box-sizing: border-box;
  max-width: 430px;
}

#team-form-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  column-gap: 10px;
}

#banner-container {
  padding: 0 25px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

#banner {
  @extend .round-border-1;
  background-color: #5A5959;
  padding: 15px;
  box-sizing: border-box;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 430px;
}

.contestants-container {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  width: 100%;
  align-items: center;
}

.sticky {
  justify-content: center;
  position: sticky;
  height: 86vh;
  top: 10px;
}

.column-direction-container {
  flex-direction: column-reverse !important;
  #banner-container {
    padding: 0;
    width: 100%;
  }

  #all-forms, #all-forms-container,
  #contestants-container, acpc-contestant-form {
    width: 100%;
  }

}

.error-captcha {
  border: 1px solid #dc3545 !important;
  border-radius: 0.2rem;
}

.captcha-container {
  width: 200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.step-buttons-container {
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  button {
    width: 90px;
    height: 40px;
    font-size: 18px;
  }
}
