<div id="page-container">
  <div id="page-content">
    <div id="banner-box">
      <div id="banner">
        <span id="command-text">Please enter your team's name to see its current status</span>
        <div id="banner-image"></div>
      </div>
    </div>
    <div id="form-container">
      <div id="form-wrapper" [@expandIn]="isWrapperExpanded ? 'increaseHeight' : 'decreaseHeight'">
        <mat-form-field appearance="outline">
          <input matInput type="text" [formControl]="formControl" required (keypress)="inquiryTeamStatus($event)">
          <mat-label>team name</mat-label>
          <button mat-raised-button matSuffix color="primary"
                  id="search-btn" (click)="inquiryTeamStatus($event)">
            <acpc-icon icon="search" color="background"></acpc-icon>
          </button>
          <mat-error *ngIf="formControl.hasError('required')">
            Enter your intended team name
          </mat-error>
        </mat-form-field>
        <div *ngIf="teamDto" id="status-box" [ngClass]="teamDto.status.toLowerCase() == 'finalized' ? 'finalized' : (teamDto.status.toLowerCase() == 'rejected' ? 'rejected' : '')"
             [@fadeIn]="isStatusBoxShowed ? 'increaseOpacity' : 'decreaseOpacity'">
          <div class="data-container">
            <span class="title">team name</span>
            <span>{{teamDto.teamName}}</span>
          </div>
          <div class="data-container">
            <span class="title">status</span>
            <span>{{teamDto.status | upperSnakeCaseToNormal}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
